<div style="text-align:center" >
	<form action="/auth/<%= @name %>" method="post" class="pure-form">
		<fieldset class="pure-group">
			<input type="text" placeholder="Username" name="username" class="pure-input-1-2" style="display:inline;" required>
			<input type="password" placeholder="Passwort" name="pass" class="pure-input-1-2" style="display:inline;" required>
		</fieldset>
		<button type="submit" class="pure-button pure-button-primary pure-input-1-2 ">Auth</button>
	</form>
</div>