<div><%= @meldung %></div>
<form action="/upload" method="post" enctype="multipart/form-data" class="pure-form pure-form-aligned">
    <div id="selectedFileDiv" class="pure-button fileContainer pull-left" style="display:none;">
		<i class="icon-cancel" onclick="selectNewFile();">X</i>
		<span id="filename"></span>	
	</div>
	 
	<div id="uploadDiv" class="pure-button fileContainer pull-left">
		<span>Select file</span>	
		<input type="file" name="file" id="uploadInput" onchange="enableUpload();" />
	</div>

	<div class="pull-left">
		<input type="submit" value="Save" id="submit" style="margin-left:10px;" class="pure-button pure-button-primary pure-button-small">
	</div>
	<div class="clear">&nbsp;</div>
	<div>
		<input type="checkbox" name="protected" value="Protected" id="protected" onclick="toglePassword();"> Protected: 
		<input id="name" name="user" type="text" placeholder="File Username" disabled>
		<input id="password" name="pass" type="password" placeholder="File Password" disabled>
	</div>	
</form>
